body {
  margin: 0;
}


section {
  background-color: #4da6ff;
}

h2 {
  background-color: yellow;
  width: 300px;
  border: 2px solid black;
}

section:first-child h2:first-of-type {
  margin: 50px;
}

section:first-child h2:nth-last-of-type(2) {
  margin-left: 20%;
}

section:first-child h2:last-of-type {
  margin: auto;
}

section:nth-child(2) h2:first-of-type {
  padding: 50px;
}

section:nth-child(2) h2:last-of-type {
  padding-left: 20%;
}

section:nth-child(3) h2:first-of-type,
section:nth-child(3) h2:last-of-type {
  padding: 10px;
  margin: 10px;
  display: inline;
}

section:nth-child(3) h2:last-of-type {
  display: none;
}

section:nth-child(4) h2:first-of-type,
section:nth-child(4) h2:last-of-type {
  width: auto;
  float: right;
  overflow: visible;
}

section:nth-child(5) h2 {
  position: fixed;
  background-color: green;
  margin: 0;
  top: 50px;

  left: 50%;

}

section:nth-child(6) h2:last-of-type {
  background-color: blue;
  margin-left: 100px;
}

section:nth-child(6) h2:last-of-type,
section:nth-child(6) h2:first-of-type {
  position: absolute;

}

section:nth-child(6) h2:first-of-type {
  z-index: -1;
}

/* Exo margin */
/* fin exo margin */

/* exo padding */
/* fin exo padding */

/* exo display */
/* fin exo display */

/* exo position */
/* fin exo position */

/* exo position (priorité) */
/* fin exo position (priorité) */